:host {
  display: block;
  height: 100%;
}

.page {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1.1fr);
  gap: var(--space-6);
  height: 100%;
}

.page__col {
  height: 100%;
  overflow-y: auto;
}
